name: Reusable - Bump Version and Create Tag

on:
  workflow_call:

permissions:
  contents: write

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Caller's Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Calculate, Commit, and Tag Version
        id: versioning
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          CURRENT_VERSION=$(cat VERSION)
          COMMIT_MSG=$(git log -1 --pretty=%B)
          if echo "$COMMIT_MSG" | grep -q "\[major\]"; then
            NEW_VERSION=$(echo $CURRENT_VERSION | awk -F. -v OFS=. '{$1++; $2=0; $3=0; print}')
          elif echo "$COMMIT_MSG" | grep -q "\[minor\]"; then
            NEW_VERSION=$(echo $CURRENT_VERSION | awk -F. -v OFS=. '{$2++; $3=0; print}')
          elif echo "$COMMIT_MSG" | grep -q "\[patch\]"; then
            NEW_VERSION=$(echo $CURRENT_VERSION | awk -F. -v OFS=. '{$3++; print}')
          else
            echo "No version keyword found. Nothing to do."
            exit 0
          fi
          echo "Bumping version from $CURRENT_VERSION to $NEW_VERSION"
          echo "$NEW_VERSION" > VERSION
          git add VERSION
          git commit -m "chore(version): Bump version to $NEW_VERSION"
          git tag "v$NEW_VERSION"
          git push origin main
          git push --tags